.pretitle {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(0, 160, 119, 0.5);
}

.title {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 48px;
    color: #3B3E43
}

.pretitle-white {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.header-white {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    line-height: 122%;
    color: #FFFFFF;
}
.title-white {
    margin-bottom: 32px;
    width: 718px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
}